body{
  margin: 0;
  font-family: Georgia, serif;
}

.hero-dark {
  background: linear-gradient(
    180deg,
    #1e3c72,
    #2a5298
  );
}




#start {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(122,122,122)
}
#start2{
  font-size: 35px;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
}

.para {
  margin: 40px auto;
  padding: 30px 40px;
  width: 70%;

  background: linear-gradient(
    135eg,
    #f0f4ff,
    #e6eeff
  );
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,100,100,.12);

  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

#size{
  font-size: 20px;
}
.roadmap-img {
  width: 100%;
  max-height: 500px;     
  object-fit: contain;  
}


