<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <title>Mihir Chaudhary Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Portfolio</h1>
    <img src="https://0994c19e-0830-4b08-a1f7-9065a14a7d24-00-32oz2oo8oksh4.pike.replit.dev/static/IMG_3325.JPG" height=200px></img>
    <h2>My Basic Projects and Data Science Story</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <main>
        <h1>About</h1>
        <p>This is a Flask practice project by Mihir.</p>
    </main>
</body>
</html>
